.resume {
  font-size: 70px;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(77, 77, 77);
}

.skill {
  /* width: 50%; */
  margin-top: 20vh;
}
.res {
  background-color: #e94156;
  font-size: 20px;
  height: 80%;
  margin: auto;
  border-radius: 50%;
}
